<div class="page-header">
  <h1>
    Menu categories
    <a href="/menu_categories/new" class="btn btn-lg btn-success">New Menu category</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>MenuCategoryid</th>
        <th>Menuid</th>
        <th>Menu</th>
        <th>Categoryid</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>

      <% @menu_categories.each do |menu_category| %>
      <tr>
        <td><%= menu_category.id %></td>
        <td><%= menu_category.MenuId %></td>
        <td><%= Menu.find(menu_category.MenuId).menu_name %></td>
        <td><%= menu_category.CategoryId %></td>
        <td><%= Category.find(menu_category.CategoryId).name %></td>
        <td>
          <a href="/menu_categories/<%= menu_category.id %>" class="btn btn-primary">Show</a>
          <a href="/menu_categories/<%= menu_category.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_menu_category/<%= menu_category.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
