<div class="page-header">
  <h3>Menu #<%= @menu.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @menu.name %></dd>

      <dt>Category</dt>
      <dd><%= @menu.category %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/menus" class="btn btn-primary">
        Back
      </a>
      <a href="/menus/<%= @menu.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_menu/<%= @menu.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Menu has many menu_listings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Menu_listings
      </li>

      <% @menu.menu_listings.each do |menu_listing| %>
        <li class="list-group-item">
          <a href="/menu_listings/<%= menu_listing.id %>">
            <%= menu_listing.restaurant_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/menu_listings/<%= menu_listing.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/menu_listings/<%= menu_listing.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_menu_listing/<%= menu_listing.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Menu has many menu_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Menu_items
      </li>

      <% @menu.menu_items.each do |menu_item| %>
        <li class="list-group-item">
          <a href="/menu_items/<%= menu_item.id %>">
            <%= menu_item.item_name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/menu_items/<%= menu_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/menu_items/<%= menu_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_menu_item/<%= menu_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Menu has many restaurants -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurants
      </li>

      <% @menu.restaurants.each do |restaurant| %>
        <li class="list-group-item">
          <a href="/restaurants/<%= restaurant.id %>">
            <%= restaurant.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/restaurants/<%= restaurant.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/restaurants/<%= restaurant.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_restaurant/<%= restaurant.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
