<div class="page-header">
  <h3>Food Photo #<%= @food_photo.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @food_photo.user.present? %>
          <a href="/users/<%= @food_photo.user_id %>">
            <%= @food_photo.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>Menu item</dt>
      <dd>
        <% if @food_photo.menu_item.present? %>
          <a href="/menu_items/<%= @food_photo.menu_item_id %>">
            <%= @food_photo.menu_item.item_name %>
          </a>
        <% end %>
      </dd>

      <dt>Item review</dt>
      <dd><%= @food_photo.item_review %></dd>

      <dt>Comment</dt>
      <dd><%= @food_photo.comment %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/food_photos" class="btn btn-primary">
        Back
      </a>
      <% if current_user.id == @food_photo.user_id %>
      <a href="/food_photos/<%= @food_photo.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food_photo/<%= @food_photo.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% end %>
    </div>
  </div>
</div>
