<!-- Validation failure messages -->
<% if @menu_item.errors.any? %>
  <% @menu_item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Menu Item</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_menu_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for item_name -->
      <div class="form-group">
        <label for="item_name" class="control-label">
          Item name
        </label>

        <input type="text" id="item_name" name="item_name" placeholder="Item name" class="form-control" value="<%= @menu_item.item_name %>">
      </div>

      <!-- Label and input for price -->
      <div class="form-group">
        <label for="price" class="control-label">
          Price
        </label>

        <input type="text" id="price" name="price" placeholder="Price" class="form-control" value="<%= @menu_item.price %>">
      </div>

      <!-- Label and input for tags -->
      <div class="form-group">
        <label for="tags" class="control-label">
          Tags
        </label>

        <input type="text" id="tags" name="tags" placeholder="Tags" class="form-control" value="<%= @menu_item.tags %>">
      </div>

      <!-- Label and input for average_review -->
      <div class="form-group">
        <label for="average_review" class="control-label">
          Average review
        </label>

        <input type="text" id="average_review" name="average_review" placeholder="Average review" class="form-control" value="<%= @menu_item.average_review %>">
      </div>

      <!-- Label and input for popularity -->
      <div class="form-group">
        <label for="popularity" class="control-label">
          Popularity
        </label>

        <input type="text" id="popularity" name="popularity" placeholder="Popularity" class="form-control" value="<%= @menu_item.popularity %>">
      </div>

      <!-- Label and input for menu_id -->
      <div class="form-group">
        <label for="menu_id" class="control-label">
          Menu
        </label>

        <input type="text" id="menu_id" name="menu_id" placeholder="Menu" class="form-control" value="<%= @menu_item.menu_id %>">
      </div>

      <button class="btn btn-success">
        Create Menu Item
      </button>
      or
      <a href="/menu_items">Cancel</a>
    </form>
  </div>
</div>
