<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A User has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @user.photos.each do |food_photo| %>
        <li class="list-group-item">
          <a href="/food_photos/<%= food_photo.id %>">
            <%= food_photo.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/food_photos/<%= food_photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/food_photos/<%= food_photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_food_photo/<%= food_photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_food_photo" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= @user.id %>">

      <!-- Label and input for menu_item_id -->
      <div class="form-group">
        <label for="menu_item_id" class="control-label">
          Menu item
        </label>

        <%= select_tag(:menu_item_id, options_from_collection_for_select(MenuItem.all, :id, :item_name), :class => "form-control") %>
      </div>

      <!-- Label and input for item_review -->
      <div class="form-group">
        <label for="item_review" class="control-label">
          Item review
        </label>

        <input type="text" id="item_review" name="item_review" placeholder="Item review" class="form-control" value="">
      </div>

      <!-- Label and input for comment -->
      <div class="form-group">
        <label for="comment" class="control-label">
          Comment
        </label>

        <input type="text" id="comment" name="comment" placeholder="Comment" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Food Photo
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A User has many want_to_orders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Want_to_orders
      </li>

      <% @user.want_to_orders.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= @user.id %>">

      <!-- Label and input for menu_item_id -->
      <div class="form-group">
        <label for="menu_item_id" class="control-label">
          Menu item
        </label>

        <%= select_tag(:menu_item_id, options_from_collection_for_select(MenuItem.all, :id, :item_name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Bookmark
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
