<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A User has many photos -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Photos
      </li>

      <% @user.photos.each do |food_photo| %>
        <li class="list-group-item">
          <a href="/food_photos/<%= food_photo.id %>">
            <%= food_photo.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/food_photos/<%= food_photo.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/food_photos/<%= food_photo.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_food_photo/<%= food_photo.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many want_to_orders -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Want_to_orders
      </li>

      <% @user.want_to_orders.each do |want_to_order| %>
        <li class="list-group-item">
          <a href="/want_to_orders/<%= want_to_order.id %>">
            <%= want_to_order.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/want_to_orders/<%= want_to_order.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/want_to_orders/<%= want_to_order.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_want_to_order/<%= want_to_order.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
