<div class="page-header">
  <h3>Menu Listing #<%= @menu_listing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd>
        <% if @menu_listing.restaurant.present? %>
          <a href="/restaurants/<%= @menu_listing.restaurant_id %>">
            <%= @menu_listing.restaurant.name %>
          </a>
        <% end %>
      </dd>

      <dt>Menu</dt>
      <dd>
        <% if @menu_listing.menu.present? %>
          <a href="/menus/<%= @menu_listing.menu_id %>">
            <%= @menu_listing.menu.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/menu_listings" class="btn btn-primary">
        Back
      </a>
      <a href="/menu_listings/<%= @menu_listing.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_menu_listing/<%= @menu_listing.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
