<div class="page-header">
  <h3><%= @restaurant.name %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>ID</dt>
      <dd><%= @restaurant.id %></dd>

      <dt>Address</dt>
      <dd><%= @restaurant.address %></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

      <dt>Menus</dt>
      <dd><% @restaurant.menus.each do |menu| %>
        <li>
          <a href="/menus/<%= menu.id %>"><%= menu.menu_name %></a>

          <% if Ownership.find_by(:restaurant_id => @restaurant.id) != nil && current_user.id == Ownership.find_by(:restaurant_id => @restaurant.id).user_id %>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/menus/<%= menu.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/menus/<%= menu.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_menu/<%= menu.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
          <div>
            <li "list-group-item">
              <form action="/create_menu" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <!-- Label and input for restaurant_id -->
                <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

                <!-- Label and input for menu_name -->
                <div class="form-group">
                  <label for="menu_name" class="control-label">
                    Add a New Menu
                  </label>

                  <input type="text" id="menu_name" name="menu_name" placeholder="Menu name" class="form-control" value="">
                </div>

                <button class="btn btn-block btn-success">
                  Create Menu
                </button>
              </form>
            </li>
          </div>
          <% end %>
        </li>
        <% end %>
      </dd>
    </dl>



    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <% if Ownership.find_by(:restaurant_id => @restaurant.id) != nil && current_user.id == Ownership.find_by(:restaurant_id => @restaurant.id).user_id %>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Restaurant has many menu_listings -->
