<div class="page-header">
  <h3>Restaurant #<%= @restaurant.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @restaurant.name %></dd>

      <dt>Street</dt>
      <dd><%= @restaurant.street %></dd>

      <dt>City</dt>
      <dd><%= @restaurant.city %></dd>

      <dt>Neighborhood</dt>
      <dd><%= @restaurant.neighborhood %></dd>

      <dt>State</dt>
      <dd><%= @restaurant.state %></dd>

      <dt>Country</dt>
      <dd><%= @restaurant.country %></dd>

      <dt>Zipcode</dt>
      <dd><%= @restaurant.zipcode %></dd>

      <dt>Cover photo</dt>
      <dd><%= @restaurant.cover_photo %></dd>

      <dt>Description</dt>
      <dd><%= @restaurant.description %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/restaurants" class="btn btn-primary">
        Back
      </a>
      <a href="/restaurants/<%= @restaurant.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_restaurant/<%= @restaurant.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Restaurant has many menu_listings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Menu_listings
      </li>

      <% @restaurant.menu_listings.each do |menu_listing| %>
        <li class="list-group-item">
          <a href="/menu_listings/<%= menu_listing.id %>">
            <%= menu_listing.restaurant_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/menu_listings/<%= menu_listing.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/menu_listings/<%= menu_listing.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_menu_listing/<%= menu_listing.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_menu_listing" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for restaurant_id -->
      <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>">

      <!-- Label and input for menu_id -->
      <div class="form-group">
        <label for="menu_id" class="control-label">
          Menu
        </label>

        <%= select_tag(:menu_id, options_from_collection_for_select(Menu.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Menu Listing
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Restaurant has many menus -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Menus
      </li>

      <% @restaurant.menus.each do |menu| %>
        <li class="list-group-item">
          <a href="/menus/<%= menu.id %>">
            <%= menu.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/menus/<%= menu.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/menus/<%= menu.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_menu/<%= menu.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
