<div class="page-header">
  <h3>Want To Order #<%= @want_to_order.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @want_to_order.user.present? %>
          <a href="/users/<%= @want_to_order.user_id %>">
            <%= @want_to_order.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>Menu item</dt>
      <dd>
        <% if @want_to_order.menu_item.present? %>
          <a href="/menu_items/<%= @want_to_order.menu_item_id %>">
            <%= @want_to_order.menu_item.item_name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/want_to_orders" class="btn btn-primary">
        Back
      </a>
      <a href="/want_to_orders/<%= @want_to_order.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_want_to_order/<%= @want_to_order.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
